services:
  postgres:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - api-test-network

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "${REDIS_PORT}:6379"
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - api-test-network

  questdb:
    image: questdb/questdb:9.0.1
    restart: always
    environment:
      QDB_PG_USER: ${QUESTDB_USER}
      QDB_PG_PASSWORD: ${QUESTDB_PASSWORD}
      QDB_METRICS_ENABLED: true
      QDB_HTTP_MIN_ENABLED: true
    ports:
      - "${QUESTDB_PORT}:9000" # QuestDB HTTP API
      - 9003:9003 # Minimal HTTP server (for health checks)
      - 8812:8812 # PostgreSQL wire protocol
    volumes:
      - questdb_data:/var/lib/questdb
    networks:
      - questdb
      - api-test-network
    healthcheck:
      test: ["CMD-SHELL", "curl -v http://127.0.0.1:9003 || exit 1"]
      interval: 30s

  grafana:
    image: grafana/grafana:latest
    restart: always
    ports:
      - 3000:3000
    environment:
      # Credentials for Grafana
      GF_SECURITY_ADMIN_USER: ${GRAFANA_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_PASSWORD}
      GF_INSTALL_PLUGINS: questdb-questdb-datasource
    volumes:
      - grafana_data:/var/lib/grafana
      - grafana_provisioning:/etc/grafana/provisioning/
    depends_on:
      - questdb
    networks:
      - questdb
      - api-test-network

  api:
    image: "${DOCKER_IMAGE}:latest"
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SECRET_KEY: ${SECRET_KEY}
      DEBUG: false
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: postgres
      POSTGRES_PORT: ${POSTGRES_PORT}
      REDIS_HOST: redis
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      QUESTDB_HOST: questdb
      QUESTDB_PORT: ${QUESTDB_PORT}
      QUESTDB_USER: ${QUESTDB_USER}
      QUESTDB_PASSWORD: ${QUESTDB_PASSWORD}
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
      - questdb
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
      interval: 30s
    networks:
      - api-test-network

volumes:
  postgres_data:
  redis_data:
  questdb_data:
  grafana_data:
  grafana_provisioning:

networks:
  questdb:
  api-test-network:
    driver: bridge
