# Opción 1: `source .secrets.env` para cargar las variables de entorno en la terminal
apiVersion: v1
kind: Secret
metadata:
  name: api-secret
  namespace: development
  labels:
    app: simple-crud
    component: api
    environment: development
type: Opaque
stringData:
  SECRET_KEY: ${SECRET_KEY}

# Opción 2 (sin envsubst)

# kubectl create secret generic api-secret \
# --from-literal SECRET_KEY=${SECRET_KEY} \
# --namespace development

# Opción 3 (con envsubst)

# source .secrets.env && \
# envsubst < k8s/development/api-secrets.yaml | kubectl apply -f - --namespace development
