# Previous step: Enable the Ingress controller
# In my case, I'm using minikube as the Kubernetes cluster, the documentation
# is here: https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/
# And, the command to enable it is: `minikube addons enable ingress`

# And, to make the port forwarding work, I need to run the following command:
# `kubectl port-forward --namespace ingress-nginx svc/ingress-nginx-controller 8000:80`

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-ingress
  namespace: development
  labels:
    app.kubernetes.io/name: api-ingress
    component: api-ingress
    environment: development
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: "/api/v1"
            pathType: Prefix
            backend:
              service:
                name: api-v1-service
                port:
                  number: 8000
          - path: "/api/v2"
            pathType: Prefix
            backend:
              service:
                name: api-v2-service
                port:
                  number: 8000
