# Se puede combinar estas dos opciones utilizando export o source.
# Puede que quiz치s `source .secrets.env && ...` no funcione, por lo que,
# quiz치s sea mejor exportar las variables de entorno antes de ejecutar el comando.

apiVersion: v1
kind: Secret
metadata:
  name: api-secret
  namespace: development
  labels:
    app: simple-crud
    component: api
    environment: development
type: Opaque
stringData:
  SECRET_KEY: ${SECRET_KEY}

# Opci칩n 1 (sin envsubst)

# kubectl create secret generic api-secret \
# --from-literal SECRET_KEY=${SECRET_KEY} \
# --namespace development

# Opci칩n 2 (con envsubst)

# envsubst < k8s/development/api-secrets.yaml | kubectl apply -f - --namespace development
