apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: development
  labels:
    app: simple-crud
    component: grafana
    environment: development
data:
  GRAFANA_USER: "admin"
