apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: development
  labels:
    app: simple-crud
    component: postgres
    environment: development
data:
  POSTGRES_HOST: "postgres-service"
  POSTGRES_PORT: "5432"
  POSTGRES_USER: "postgres"
  POSTGRES_DB: "api_test"
