# Opción 1: `source .secrets.env` para cargar las variables de entorno en la terminal
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: development
  labels:
    app: simple-crud
    component: postgres
    environment: development
type: Opaque
stringData:
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

# Opción 2 (sin envsubst)

# kubectl create secret generic postgres-secret \
# --from-literal POSTGRES_PASSWORD=${POSTGRES_PASSWORD} \
# --namespace development

# Opción 3 (con envsubst)

# source .secrets.env && \
# envsubst < k8s/development/postgres-secrets.yaml | kubectl apply -f - --namespace development