apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: questdb-pvc
  namespace: development
  labels:
    app: simple-crud
    component: questdb
    environment: development
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
