name: Docker
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: docker-build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Job para server v1
  build-server-v1:
    name: Build and push server v1
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: log in to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set image timestamp (UTC-5)
        run: |
          ts=$(date -u -d '5 hours ago' +"%Y-%m-%d_%H-%M-%S")
          echo "IMAGE_TIMESTAMP=$ts" >> $GITHUB_ENV

      - name: Build and push server v1 (multi-arch, cache)
        uses: docker/build-push-action@v6
        with:
          context: ./apps/server-v1
          file: ./apps/server-v1/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/simple-crud:1.0-${{ env.IMAGE_TIMESTAMP }}
            ${{ secrets.DOCKER_USERNAME }}/simple-crud:1.0

  build-server-v2:
    name: Build and push server v2
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: log in to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set image timestamp (UTC-5)
        run: |
          ts=$(date -u -d '5 hours ago' +"%Y-%m-%d_%H-%M-%S")
          echo "IMAGE_TIMESTAMP=$ts" >> $GITHUB_ENV

      - name: Build and push server v2 (multi-arch, cache)
        uses: docker/build-push-action@v6
        with:
          context: ./apps/server-v2
          file: ./apps/server-v2/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/simple-crud:2.0-${{ env.IMAGE_TIMESTAMP }}
            ${{ secrets.DOCKER_USERNAME }}/simple-crud:2.0
